<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/styles.css"></link>

<script src="/clientlogic.js"></script>

</head>
<body ng-app="webapp" ng-controller="webcontroller" ng-init="loaddata()">
<!-- Nav bar code -->
    <nav class="navbar-dark bg-dark text-center">
      <h2 class="navbar-brand" id="brand-font">Limited Writings</h2>
    </nav>  
  <br>
<!-- end of navbar code -->
<div class="container">
  <div class="row">
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="story in stories | filter:searchstory" >
          <div class="space-adjust">
            <img src="{{story.cover_url}}" height="270px"alt="dsadas"/>
              <h4  id="storyname">{{story.name}}</h4> 

              <div class="detail">
                <center><h6>{{story.name}}</h6></center>
                
                <hr> 
                 <p>
                 {{story.story_desc}}</p>
                <center>
                <a href="{{story.story_url}}" class="btn btn-primary">
                   Read Full Story     
                </a>        
               </div>
          </div>
       </div>

    </div>
  </div>

</div>
  <div class="footer">
    <a href="#" id="prev"> << </a>
    <input type="text" id="search-space-adjust" ng-model="searchstory" placeholder="search stories"/>
    <a href="#" id="next">>></a>
</div>

</div>

</body>
